.nav>li>a:hover {
    background-color: white;
    border-bottom-style: solid;
    border-bottom-color: dodgerblue;
    border-bottom-width: thin;
}

a.headerButton{
    border-right-style: solid;
    border-right-width: thin;
    border-right-color: dodgerblue;
    align-content: center;
}


#navContainer{
  width: 325px;
  padding-left: 0px;
  display: block;
  margin: auto;
  padding: 1px;
  height: 50px;
  background: white;
}

.lightwidget-widget{
  float: left;
}


body {
  font-size: 20px;
  font-family: 'Puritan', sans-serif;
}

#logo {
  width: 32%;
  height: 32%;
  display: block;
  margin: auto;
  padding: 0px;
  
}

#about{
  margin: auto;
  padding: 0px;
  display: block;
  background-image: url("/img/pcove.jpg");
  background-repeat: no-repeat;
  width: 100%;
  height: 650px;
  text-align: center;
}

h3 {
  color: dodgerblue;
}

header{
  position: fixed;
  background: white;
  top: 0px;
  width: 100%;
  margin-bottom: 10px;
}


#insta{
  width: 100%;
  height: 100%;
  margin-top: 200px;
  margin-bottom: 0px;
  padding-bottom: 0px;
  
}

#pcove{
  width: 100vw;
  height: 200px;
  float: left;
  padding: 5px;
}
#aboutInfo {
  margin: 10px;;
  color: darkgrey;
  width: 60%;
  float: right;
}

#transBox{
  background-color: #ffffff;
  opacity: 0.6;
  width: 100%;
  height: 600px;
  padding: 0px;
  margin: 0px;
  
}

iframe{
  padding: 0px;
  margin: 0px;
}

#instaBadge{
  height: 20px;
  width: 20px;
  margin: 5px;
}

#fbBadge{
  height: 20px;
  width: 20px;
  margin: 5px;
}

#mailBadge{
  height: 20px;
  width: 20px;
  margin: 5px;
}

#contactImg{
  height: 40%%;
  width: 40%;
  margin: auto;
  float: left;
  border-radius: 15px;
}

.contactList{
  width: 100%;
  float: left;
  margin-top: 10%
}

#contactInfo{
  width: 40%;
  height: 70%
  margin: auto;
  float: left;
  vertical-align: center;
}

#map{
  margin: auto;
  vertical-align: bottom;
  border-radius: 25px
}

#faqContent{
  width: 55%;
  float: left;
}

#haliPic{
  width: 30vw;
  height: 35vh;
  border-radius: 25px;
  margin-left: 25px;
}

.heading{
  margin: auto;
  margin-top: 5px;
  margin-bottom: 5px;
  text-align: center;
  
}

.navbar .navbar-nav {
  display: inline-block;
  float: none;
  margin: auto;
  justify-content: center;
  text-align: center;
  
}

.navbar .navbar-collapse #navbar-collapse {
    text-align: center;
}

#navContainer {
  width: 100%;
  margin: auto;
  justify-content: center;
  text-align: center;
  
}

#faq{
  margin-bottom: 10px;
}

p{
  font-size: 18px;
}

h4{
  font-size: 20px;
}

h5{
  font-size: 16px;
}



