#navContainer {
    background: white;
}

.nav>li>a:hover {
    background-color: white;
    border-bottom-style: solid;
    border-bottom-color: dodgerblue;
    border-bottom-width: thin;
}

a.headerButton{
    border-right-style: solid;
    border-right-width: thin;
    border-right-color: dodgerblue;
    border-right
}


.navbar .navbar-collapse {
  text-align: center;
  width:100%;
}

#buntingHeader {
    width: 100%;
    height: 200px;
}



.lightwidget-widget{
  float: left;
}

.container{
  width: 260px;
  float: none;
  margin: auto;
}

body {
  font-size: 16px;
}

#logo {
  width: 350px;
  height: 230px;
  justify-content: center;
  margin: auto;
}

#navContainer{
  width: 260px;
  text-align: right;
  margin:auto;
  padding: 0;
}